@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-brand-dark-950 text-white antialiased;
    margin: 0;
    overflow: hidden;
  }

  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    background: #141E32;
  }
  ::-webkit-scrollbar-thumb {
    background: #0E4B5B;
    border-radius: 3px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #167188;
  }
}
